<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dataServiceUrl" value="https://<MTMConnectDomainName>/api"/>
		<add key="authenticationServiceUrl" value="https://<AuthenticationDomainName>/connect/token" />
    <add key="client_id" value="<client_id>" />
    <add key="client_secret" value="<client_secret>" />
    <add key="grant_type" value="<grant_type>" />
    <add key="scope" value="<scope>" />
		<add key="apiVersion" value="1" />
		<add key="FileWriterPath" value="" />
	</appSettings>
</configuration>